<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Trivia Game</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/chatstyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/app.js"></script>
</head>

<body>

<div style="display: none">
    Logged in as <span id="username" th:text="${session.username}"></span>
</div>

<nav class="navbar navbar-default navbar-light">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="">Trivia Master</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
        </ul>
        <ul class="nav navbar-nav">
            <li><a href="/profile">Profile</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            <li> <img style="height: 50px; width: 50px;" src="trivialogo.png" alt="trivialogo"> </li>
        </ul>
    </div>
</nav>

<div id="upper-container" class="container">
    <div class="row">
        <div id="chatbox-container" class="col-md-8 table-wrapper-scroll-y">
            <table id="conversation" class="table table-bordered table-striped">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Chatbox</th>
                </tr>
                </thead>
                <tbody id="greetings">
                </tbody>
            </table>
        </div>

        <div id="timer-container" class="col-md-4">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Scoreboard</th>
                    <th>Score</th>
                </tr>
                </thead>
                <tbody id="tbody">
                </tbody>
            </table>
        </div>


    </div>
</div>

<div id="lower-container" class="container">
    <div class="row">
        <div class="col-md-7 col-sm-10">
            <input type="text" id="text" class="form-control" placeholder="Enter your message"
                   aria-label="Enter your message:" aria-describedby="basic-addon2">
        </div>

        <div class="col-md-1 col-sm-12">
            <button id="send" class="btn btn-outline-secondary" type="button">Send</button>
        </div>

    </div>
</div>


</body>

</html>