<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Log in page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="profilepage.css">

</head>

<body>

<nav class="navbar navbar-default navbar-light">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Trivia Master</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/chat">Game</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            <li><img style="height: 50px; width: 50px;" src="trivialogo.png" alt="trivialogo"></li>
        </ul>
        <ul class="nav navbar-nav">
            <li><a href="/#">Profile</a></li>
        </ul>
    </div>
</nav>

<div class="container" id="header">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <h1>Profile</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6" id="cardposition">

            <div class="card hovercard bob">
                <div class="cardheader bob"></div>
                <div class="avatar">
                    <img alt="" src="img_avatar1.png">
                </div>
                <div class="info bob">
                    <div class="title">
                        <!--<div class="name" th:text="${session.name}"></div>-->
                        <div class="desc" th:text="${session.username}"/>
                        <div class="desc" th:text="'Score: '+${session.score}"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6"></div>
        <div class="col-2">
            <a href="/chat" style="color: #000000">
            <button class="btn btn-secondary" type="button" id="dropdownMenuButton"> Start game!</button>
            </a>
        </div>
    </div>
</div>


</body>

</html>