<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="profilepage.css">

</head>

<body>

    <nav class="navbar navbar-expand-sm bg-light">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Play</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Profile</a>
            </li>
        </ul>
        <img id="logo" alt="Brand" src="trivialogo.png">
    </nav>

    <div class="container" id="header">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <h1>Profile</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6" id="cardposition">

                <div class="card hovercard bob">
                    <div class="cardheader bob"></div>
                    <div class="avatar">
                        <img alt="" src="img_avatar1.png">
                    </div>
                    <div class="info bob">
                        <div class="title">
                            <div class="name" th:text="${session.name}"></div>
                            <div class="desc">Username</div>
                            <div class="desc">Name</div>
                            <div class="desc">High Score</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <button class="btn btn-secondary" type="button" id="dropdownMenuButton"> Start game!</button>
            </div>
        </div>
    </div>


</body>

</html>